<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>
      Bitch
    </title>
    
  </head>
  <body>
  <h1>The muthafuckin layout is workin up in this B</h1>
    <%= yield %>
  </body>
</html>