
<html>
  <head>
  <%= stylesheet_link_tag 'application' %>
    <title>
      RYAN & RYAN Co.
    </title>

  </head>
  <body>
    <div>
      <nav>

        <div id="nav-header">
          <h1>Header Title</h1>
        </div>
        <div id="nav-links">
          <div class="nav-link"><p>Link</p></div>
          <div class="nav-link"><p>Link</p></div>
          <div class="nav-link"><p>Link</p></div>
          <div class="nav-link"><p>Link</p></div>
          <div class="nav-link"><p>Link</p></div>
        </div>
      </nav>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>