<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>
      RYAN & RYAN Co.
    </title>

  </head>
  <body style="background-color:#DDDDDD;">
    <%= yield %>
  </body>
</html>